<%- include("header") %>

<div class="text-center my-5">
	<h2>No results found!!</h2>
  <h3>Try entering correct spelling of Keyword or search with other keyword</h3>
	<a href="/" class="btn btn-primary mt-2">Search again</a>
</div>

<%- include("footer") %>
